@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*:root {
  --main-blue: #4369b2;
  --dark-blue: #35548b;
  --light-blue: #5889e5;
  --gray-blue: #3f62a4;
  --dark: #1d1d1d;
  --light: #fefefe;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--light-blue);
  color: var(--light);
}

a {
  color: var(--light);
}
